<!DOCTYPE html>
<html>
  <head>
    <title>Murrsuit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">

    <%= javascript_pack_tag 'application' %>
  </head>

  <body style="margin: 0; height: 100vh;">
    <%= yield %>
  </body>
</html>
