<!DOCTYPE html>
<html>
  <head>
    <title>Under Maintenance - Scritch</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Monoton"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="./favicon-16x16.png"
    />
    <style>
      body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        text-align: center;
        margin: 0;
        padding: 0;
        background: #111;
      }
      img {
        width: 256px;
      }
      p {
        color: white;
        font-family: "Roboto", sans-serif;
        margin-top: 2em;
        font-size: 2em;
      }
      .link {
        text-decoration: "none",
        color: "#0c8cff"
      }
    </style>
  </head>

  <body>
    <div class="dialog">
      <%= image_tag "logo_full_shaded.png" %>
      <p>Scritch is currently under maintenance.</p>
      <p>For information and updates, consider joining the <a style="text-decoration: none; color: #0c8cff" href="https://t.me/ScritchNews" target="_blank">Scritch Telegram Channel</a>.</p>
    </div>
  </body>
</html>
